= simple_form_for @fighter, html: { multipart: true } do |f|
	= f.input :first_name
	= f.input :last_name
	= f.input :description
	= f.label :image
	= f.file_field :image
	= f.submit class: 'submit_btn'

%hr

.buttons
	= link_to "Cancel", root_path, class: 'button'