.fighter_content
	.fighter_image
		= image_tag @fighter.image.url(:medium)	
	%h1
		= @fighter.first_name
		= @fighter.last_name	
	%p= @fighter.description

%hr

	#skills
		%h2
			This hero has #{pluralize(@fighter.skills.count, "skill")}:
		= render @fighter.skills

%hr

	%h3 Add New Skill
	= render "skills/form"

%hr
	
	.buttons
		= link_to "Edit", edit_fighter_path(@fighter), class: 'button'
		= link_to "Delete", fighter_path(@fighter), method: :delete, data: {confirm: "Are you sure?"}, class: 'button'
		= link_to "Back", root_path, class: 'button'
	%p	